.stat-not-ready {
    opacity: 0.3;
}

div.stat-spinner {
    position: relative;
    display: none;
    opacity: 1;
}

div.spinner_cont {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 50%;
    margin-left: -50px;
    z-index: 10;

}

div.spinner_cont p {
    margin: 0;
}

